<style>
  .login-with-google-btn {
    transition: background-color .3s, box-shadow .3s;
    padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;
  }
 
  body {
    text-align: center;
    padding-top: 2rem;
  }
</style>
 
<div class="content" role="main">
  <h2>Login with Google</h2>
  <div class="card-container">
    <div class="container mt-5">
      <div class="row mt-5">
        <div class="col-md-4 mt-2 m-auto ">
          <button type="button" class="btn btn-danger" #loginRef>
            Sign in with Google
          </button>
        </div>
      </div>
    </div>
  </div>
 
</div>